<div class="content">
  <div>
    <h1 class="header icon"><i class="hospital icon teal"></i>{{location?.name}}</h1>
    <div class="description">{{location?.street}} {{location?.housenumber}}</div>
    <div class="extra">{{ location?.zipcode }} {{ location?.city }} </div>
  </div>

  <div *ngIf="authService.isLoggedIn() && isAdmin">
    <br>
    <a class="ui tiny yellow labeled icon button"
      [routerLink]="['../../../admin/appointments' , location?.name ,appointment?.id]">
      <i class="write icon"></i> Termin bearbeiten
    </a>

    <button class="ui tiny red labeled icon button" (click)="removeAppointment()" >
      <i class="remove icon"></i>Termin löschen
    </button>
  </div>

  <br>

  <div>
    <h3 class="icon"><i class="calendar icon teal"></i>Ausgewählter Termin:</h3>
    <p *ngIf="freeSpots != 0 && !isVaccinated">
      Um sich für diesen Termin anzumelden, drücken Sie bitte auf "Termin buchen".
    </p>
    <p *ngIf="freeSpots == 0">
      <b>Es tut uns sehr leid, es sind zur Zeit keine freien Plätze mehr vorhanden.</b>
    </p>
    <p *ngIf="isVaccinated" class="icon">
      <i class="warning icon red"></i>Sie wurden bereits geimpft und können keinen neuen Termin mehr buchen.
    </p>

    <div class="header">{{ appointment?.date | date:'longDate' }}</div>
    <div *ngIf="users" class="description">Es sind noch <b>{{freeSpots}}</b> von
      {{appointment?.maxUsers}}
      Impfungen verfügbar.
    </div>
  </div>

  <br>

  <button *ngIf="authService.isLoggedIn() && (freeSpots != 0) && !isVaccinated" class="ui medium button teal" (click)="updateAppointment()" ><i class="syringe icon"></i>Termin buchen</button>

  <button [routerLink]="'../'" class="ui medium basic button teal">Zurück zur Impfstation</button>
</div>