<h1 *ngIf="appointment.id">Termin bearbeiten</h1>
<h1 *ngIf="!appointment.id">Neuen Termin erstellen</h1>

<form class="ui large form" [formGroup]="appointmentForm" (ngSubmit)="submitForm()">
  <input type="hidden" name="id">

  <div class="field">
    <label>Datum des neuen Termins</label>
    <input type="date" formControlName="date">
    <div *ngIf="errors.date" class="ui negative message"> {{ errors.date
      }} </div>
  </div>

  <div class="field">
    <label>Maximale Anzahl der Besucher</label>
    <input formControlName="maxUsers">
    <div *ngIf="errors.maxUsers" class="ui negative message">{{
      errors.maxUsers }}</div>
  </div>

  <div class="field" [class.disabled]="isUpdatingAppointment">
    <label>Standort</label>

    <!--
    <input formControlName="location_id">
    <div *ngIf="errors.location_id" class="ui negative message">{{ errors.location_id }} </div>
    -->

    <select formControlName="location_id">
        <option *ngFor='let l of allLocations' class="item" value="{{l.id}}" > {{l.name}} </option>
    </select>

  </div>

  <button type="submit" class="ui button  teal" [disabled]="appointmentForm.invalid">Speichern</button>

  <button *ngIf="appointment.id" [routerLink]="['../../../../locations']" class="ui medium basic button teal">Abbrechen</button>

  <button *ngIf="!appointment.id" [routerLink]="'../'" class="ui medium basic button teal">Abbrechen</button>


</form>