.masthead.segment {
  min-height: 24vh;
  padding: 1em 0em;
  background-color: rgb(188, 231, 227);
}

.ui.header {
  margin-top: 8vh;
  font-size: 3em;
  color: rgb(0, 80, 80);
  text-align: left;
}

.ui.vertical.stripe {
  margin: 2em;
}
