<h1 class="header icon"><i class="users icon teal"></i> Benutzerliste</h1>

<p *ngIf="!authService.isLoggedIn()">
  Nur User mit Admin rechten können diese Seite betrachten!
</p>

<div *ngIf="authService.isLoggedIn()">
  <p>
    Hier sehen sie alle registrierten Nutzer und die dazugehörigen Daten!
  </p>

  <div class="ui middle aligned selection divided list">
    <a
      *ngFor="let user of users"
      [user]="user"
      [routerLink]="['users', user.id]"
      class="item impfen-user-list-item"
    ></a>
  </div>
</div>
