<div class="ui container">
  <h1 class="header icon">
    <i class="plus icon teal"></i> Ein kleiner Schritt mit großen Auswirkungen
  </h1>
  <p>
    Die größte weltweite Gesundheitskrise seit vielen Jahrzehnten hat uns voll
    erfasst – mit Auswirkungen auf alle Lebensbereiche. Die massiven
    Einschränkungen durch das Coronavirus können wir beenden. Aber nur zusammen!
    Denn dafür müssen wir Österreicher:innen uns impfen lassen.
  </p>
  <a routerLink="../locations" class="ui teal button">
    Impfstellen ansehen
  </a>
</div>